main {
  width: 100%;
  min-height: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
  position: relative;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.divider {
  width: 1px;
  background: black;
  margin-inline: 0.5rem;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 0.73rem;
  margin-top: 1.5rem;
}

.social-links path {
  transition: fill 0.3s ease;
  fill: gray;
}

.left-side {
  background: purple;
  min-width: 42.7vw;
}

.right-side {
  min-width: 56.3vw;
  background: blue;
}

.social-links a:hover svg path {
  fill: lightgray;
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }
}
